* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 150px;
    text-align: center;
    border: 1.5px solid black;
}

.heading {
    background-color: #1efbff;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
}

.content {
    line-height: 40px;
    font-size: 18px;
}