* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.service-card {
    width: 300px;
    border: 2px solid #1eff29;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    padding: 16px;
    margin: 120px 400px;
}