body {
    background-color: #f4f8f6;
}

h2 {
    color: #1eceff;
}

.box {
    display: inline-block;
    background-color: #ffffff;
    width: 250px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    vertical-align: top;
}