* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    margin: 40px ;
    background-color: #f4f6f8;
}

main {
    border: none;
    border-radius: 20px;
    height: 440px;
    width: 380px;
    background-color: #ffffff;
    position: relative;
    left: 50px;
    top: 50px;
    overflow: hidden;
}

.tag {
    border: 1px solid black;
    border-radius: 20px;
    background-color: red;
    text-align: center;
    color: #ffffff;
    height: 30px;
    width: 54px;
    padding: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
}

h2 {
    text-align: center;
    background-color: #3bffef;
    line-height: 70px;
    height: 70px;
}

span {
    color: #16d626;
}

p {
    padding: 12px;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 350px;
    margin-left: 12px;
    margin-top: 20px;
    background-color: #00d9ff;
    font-weight: bold;
    font-size: 20px;
}