body {
    color: #134e52;
    margin-left: 20px;
}

main {
    border: 1px solid black;
    width: 400px;
}

h1 {
    text-align: center;
}

input, select {
    width: 380px; 
    height: 20px;
}

form {
    margin-left: 4px;
}

button {
    background-color: #0ea5a4;
    border: none;
    border-radius: 5px;
    width: 380px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 4px;
    color: white;
}