/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Tính toán tự động */

}

.container {
    width: 400px;
    height: 300px;
    background-color: red;
   /* margin: 20px;*/
   /* margin-top: 20px;
   margin-right: 30px;
   margin-bottom: 40px;
   margin-left: 50px; */
   margin: 20px 30px 40px 50px;
   /* border-width: 5px; 
   border-color: blue; 
   border-style: solid; /* Nét viền */ 
   border: 5px solid blue;
   padding: 20px 30px 40px 50px;
}

.heading {
    color: #fff;
}

.container-1 {
    max-height: 400px;
    max-width: 600px;
    border: 2px solid blue;
    overflow: auto; /*thanh cuộn*/
}